@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

h1{
    font-family: "Tilt Neon", sans-serif;
}

body{
    background-color: rgb(255, 207, 207);
color: rgb(255, 84, 84);
text-align: center;

}

h1 span{
    color: rgb(167, 37, 37));
}